<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="icon" href="favicon.ico" type="image/x-icon" /> 
	</head>
	<body>
		Añadir comentario a pregunta <%=quizid%>: <p>
		
		<form method="post" action="/quizes/<%=quizid%>/comments/">
			<input type="text" id="comment" name="comment[texto]" value=""/><p>
			<button type="submit">Enviar</button>
		</form>

	</body>
</html>